* {
  max-width: 1024px;
  margin: 10px;
}

html {  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

body {
  max-width: 1024px;
    background-color: rgb(226, 217, 204);
    display: grid;
    grid-template-columns: auto 20vw;
    grid-template-rows: 80px, auto, 80px;
  }

   
  header { 
    display: flex;   
    grid-row:  1 / 2;
    grid-column: 1 /3; 
    background-color: rgb(202, 186, 214);
    justify-content: space-around;
  }

nav {
  flex: auto;
}

  header > nav > ol {
    display: flex;
    justify-content: flex-start;
  }

  nav li {
    padding: 0 20px 0 20px;
  }
 
  nav li:hover {
    color:red;
    font-size: 20px;
  }
  
  nav li:active {
      color: blue;
  }
  
  main {
    display: grid;
    grid-row: 2 / 3;
    grid-column: 1 /2;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  aside {
    grid-row: 2 / 3;
    grid-column: 2 /3;
  }

  footer {
    grid-row: 3 / 4;
    grid-column: 1 /3;
    background-color: cadetblue;
  }

  h1 {
    color: blue;
    text-align: center;
  }

  h2 {
    color: blue;
    text-align: left;
    text-transform: uppercase;
  }
  
  p {
    font-family: verdana;
    font-size: 16px;
  }
 
  .alternate12 {
    color: red;
  }

  .alternate11 {
    color: green;
  }

  .alternate1 {
    color: darkblue;
  }

  .alternate2 {
    color: darkmagenta;
  }
  
  #container {    
    grid-row: 1 /2;
    grid-column: 1/3;
  }

  #snd {
    font-weight: 800;
    color: blue;
  }

  #form {  
    grid-row: 2 /3;
    grid-column: 1/3;
    border: 2px solid purple;
    border-radius: 10px;
    padding: 5px;
  }
  
  #login {
    background: linear-gradient(to bottom, pink, #a23cf6);
    border: 1px solid #696969;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 1px black;
    height: 2ch;
}

#loginbtn {
  background: linear-gradient(to bottom, rgb(197, 241, 191), rgb(100, 241, 82));
  border: 1px solid #696969;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  height: 5ch;
}

#resetbtn {
  background: linear-gradient(to bottom, rgb(241, 170, 170), #f73c3c);
  border: 1px solid #696969;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  height: 5ch;
}

#regbtn {
  background: linear-gradient(to bottom, pink, #c792f3);
  border: 1px solid #696969;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px black;
  height: 4ch;
}